// Navigation Styles here

div.topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;

  nav.topNav {
    display: flex;
    justify-content: space-between;
    width: 20%;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
    }
  }
}
